[project]
	description = A small example of two-machine cluster using vagrant with a packer manifest for a base box
[access "refs/*"]
	owner = group user/dartov (dartov)
[access "refs/for/refs/*"]
	read = group user/dartov (dartov)
	push = group user/dartov (dartov)
	label-Code-Review = -2..+2 group user/dartov (dartov)
	label-Verified = -1..+1 group user/dartov (dartov)
	rebase = group user/dartov (dartov)
	removeReviewer = group user/dartov (dartov)
	submit = group user/dartov (dartov)
[access "refs/heads/*"]
	read = group user/dartov (dartov)
	create = group user/dartov (dartov)
	push = +force group user/dartov (dartov)
	pushMerge = group user/dartov (dartov)
[access "refs/tags/*"]
	push = +force group user/dartov (dartov)
	pushTag = group user/dartov (dartov)
	pushSignedTag = group user/dartov (dartov)
